<style type="text/css">
body {
   font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
   font-size: 11px;
   background-color: white;
}

a { color: #3871e3; font-style: normal; text-decoration: none }  /* for unvisited links */
a:link { color: #3871e3; font-style: normal; text-decoration: none }  /* for unvisited links */
a:visited { color: #2b57b0; font-style: normal; text-decoration: none } /* for visited links */
a:active { color: #ff4c00; font-style: normal; text-decoration: none } /* when link is clicked */
a:hover { color: #ff6600; font-style: normal; text-decoration: none } /* when mouse is over link */

p {
   font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
   font-size: 11px;
   color: black;
}

table {
   border-width: 0;
}

th {
   border-style: none none none none;
   color: white;
   font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
   font-size: 11px;
   font-weight: bold;
}

td {
   font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
   font-size: 11px;
}

 .menu        {                                     font-weight: bold; font-size: 11px; font-family: Verdana, Arial, Helvetica, Geneva, sans-serif; text-decoration: none }
 .menuorange  { color: #EA6515;                     font-weight: bold; font-size: 11px; font-family: Verdana, Arial, Helvetica, Geneva, sans-serif; text-decoration: none }
 .menubig     {                                     font-weight: bold; font-size: 12px; font-family: Verdana, Arial, Helvetica, Geneva, sans-serif; text-decoration: none }
 .boldsmall   {                                     font-weight: bold; font-size: 9px;  font-family: Verdana, Arial, Helvetica, Geneva, sans-serif; text-decoration: none }
 .bold        {                                     font-weight: bold; font-size: 11px; font-family: Verdana, Arial, Helvetica, Geneva, sans-serif; text-decoration: none }
 .boldbig     {                                     font-weight: bold; font-size: 11px; font-family: Verdana, Arial, Helvetica, Geneva, sans-serif; text-decoration: none }
 .normalmini  {                 font-style: normal;                    font-size: 9px;  font-family: Verdana, Arial, Helvetica, Geneva, sans-serif; text-decoration: none }
 .normalsmall {                 font-style: normal;                    font-size: 10px; font-family: Verdana, Arial, Helvetica, Geneva, sans-serif; text-decoration: none }
 .normal      {                 font-style: normal;                    font-size: 11px; font-family: Verdana, Arial, Helvetica, Geneva, sans-serif; text-decoration: none }
 .normalbig   {                 font-style: normal;                    font-size: 11px; font-family: Verdana, Arial, Helvetica, Geneva, sans-serif; text-decoration: none }
 .titlebar    { color: #FFFFFF;                     font-weight: bold; font-size: 12px; font-family: Verdana, Arial, Helvetica, Geneva, sans-serif; text-decoration: none }

.h1bar	{
	font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #cc0000;
}

.normal	{
	font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
	font-size: 11px;
}

.horbartop	{
	font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
	font-size: 11px;
	background-color: #dfdfdf;
}

.verbarleft	{
	font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
	font-size: 11px;
	background-color: #dfdfdf;
}

.nav	{
	background-color: #ffffff;
	font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
	font-size: 11px;
}

.navdark	{
	background-color: #dfdfdf;
}

.navblack	{
	background-color: #000000;
}

.navgreen	{
	background-color: #839983;
}

.navdarkgreen	{
	background-color: #839983;
}

.navred	{
	background-color: #aa5859;
}

.navorange	{
	background-color: #df9500;
}

.preformatted	{
	font-family: courier;
	font-size: 11px;
}

</style>
